.records-list li {
  max-width: 393px;
  margin: 0 auto;
  margin-bottom: 5px;
}

@media (max-width: 480px) {
  .records-list li {
    margin-bottom: 0;
    max-width: 100%;
  }
}

@media (min-width: 480px) {
  .records-list {
    margin-top: 20px;
  }
}
